:root{
    --font-color: rgb(50, 49, 49);
}

body{
    background-image: url("./images/gptGradient.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

img{
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin-top: 150px;
}

.contentBody{
    background-color: rgba(38, 48, 56, 0.8);
    border-radius: 10px;
    width: 700px;
    height: 800px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.container {
    text-align: left;
    display: flex;
    /* align-items:center; */
    margin-bottom: 2.5rem;
}

.input{
    width: 500px;
    height: 30px;
    border-radius: 5px; 
}

.userSelect{
    display: flex;
    flex-direction: column;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    margin-left: 100px;
    margin-top: 20px;
}

.heading{
    margin-top: 50px;
    text-align: left;
    margin-right: 100px;
    color: var(--fontColor);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

label{
    margin-bottom: 10px;
    display: block;
}

.formControl{
    width: 500px;
    height: 30px;
    border-radius: 5px;
    display: flex;
}

.moveLeftLabel{
    margin-top: 20px;
    text-align: left;
}

.checkbox{
    height: 20px;
    width: 20px;
    margin-right: 15px;
    align-items: center;
}

button{
    width: 50%;
    height: 40px;
    margin-top: 30px;
    margin-left: 180px;
    border-radius: 10px;
}

button:hover{
    background-color: rgb(76, 201, 215);
    color: white;
}

@media screen and (max-width: 1300px) {
    body{
        background-image: url("./images/gptGradient.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100vh; */
    }
    
    
    .contentBody{
        background-color: rgba(38, 48, 56, 0.8);
        border-radius: 10px;
        width: 400px;
        height: 800px;
        margin-right: 100px;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    .userSelect{
        display: flex;
        flex-direction: column;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        width: 320px;
        margin-left: 100px;
        margin-top: 20px;
        margin-left: 50px;
    }

    .input{
        width: 300px;
        height: 30px;
        border-radius: 5px; 
    }

    .formControl{
        width: 300px;
        height: 30px;
        border-radius: 5px;
        display: flex;
    }

    button{
        width: 50%;
        height: 40px;
        margin-top: 30px;
        margin-left: 100px;
        border-radius: 10px;
    }
    
    button:hover{
        background-color: rgb(76, 201, 215);
        color: white;
    }

    .heading{
        margin-top: 80px;
        text-align: left;
        margin-right: 100px;
        margin-left: 80px;
        color: var(--fontColor);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    img{
        width: 300px;
        height: 200px;
        border-radius: 10px;
        margin-top: 100px;
        margin-left: 70px;
    }

}

@media screen and (max-width: 1010px) {
    .contentBody{
        background-color: rgba(38, 48, 56, 0.8);
        border-radius: 10px;
        width: 400px;
        height: 800px;
        margin-right: 100px;
        margin-top: 80px;
        margin-bottom: 20px;
    }

    label{
        margin-bottom: 10px;
        display: block;
    }

    .userSelect{
        display: flex;
        flex-direction: column;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        width: 300px;
        margin-left: 50px;
        margin-top: 20px;
    }

    .formControl{
        width: 250px;
        height: 30px;
        border-radius: 5px;
        display: flex;
    }

    .input{
        width: 250px;
        height: 30px;
        border-radius: 5px; 
    }

    .moveLeftLabel{
        margin-top: 20px;
        text-align: left;
        margin-right: 1000px;
    }

    button{
        width: 50%;
        height: 40px;
        margin-top: 30px;
        margin-left: 100px;
        border-radius: 10px;
    }
    button:hover{
        background-color: rgb(76, 201, 215);
        color: white;
    }

    .heading{
        margin-top: 80px;
        display: block;
        text-align: left;
        margin-left: 290px;
        color: var(--fontColor);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

@media screen and (max-width:774px){
    body{
        display: flex;
        flex-direction: row;
    }
    
    .heading{
        margin-top: 80px;
        /* display: block; */
        text-align: left;
        margin-left: 100px;
        color: var(--fontColor);
        height: 50%;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    .contentBody{
        background-color: rgba(38, 48, 56, 0.8);
        border-radius: 10px;
        width: 50%;
        height: 50%;
        margin-left: 20px;
        /* margin-right: 100px; */
        transform: translateY(750px);
        margin-bottom: 20px;
    }
    
}